/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

.layout--design-section-three {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

/* .gm-layout-33,
.gm-layout-50{
 display: flex;
 flex-wrap: wrap;
 flex: 0 1 100%;
} */

.layout--design-section-three > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--design-section-three > .layout__region--header {
    flex: 0 1 100%;
  }

  .layout--design-section-three > .layout__region--sidebar-1 {
    flex: 0 1 66.666%;
  }

  .layout--design-section-three > .layout__region--sidebar-2 {
    flex: 0 1 33.333%;
  }

  .layout--design-section-three > .layout__region--header {
    flex: 0 1 100%;
  }
}
